header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#logo {
    height: auto;
    width: 100px; 
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

header nav {
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
    white-space: nowrap; 
}

input[type="text"],
input[type="email"],
textarea {
    flex-grow: 1; 
    margin-left: 10px; 
}

