header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

#logo {
    height: 50px; /* Adjust the size as necessary */
    margin-right: 20px; /* Ensures some space between the logo and the header content */
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: start; /* Aligns the content to the start, pushing it to the left under the logo */
    flex-grow: 1; /* Takes up the rest of the space in the header */
}

header h1, header nav {
    text-align: left; /* Aligns the text to the left */
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}
